
*{
    font-family: Helvetica, Arial, sans-serif;
    
    background-color: #283557;
   
}
.form{
    display: flex;
    flex-direction: column;
    
    color: #32324F;
    font-size: 14px;
    padding: 20px;
    width: 30%;
    margin:0 auto;
    
    
}
label{
    
    color: white;
    margin-right: 100px;
   
}

input{
   
    background: #32324F;
    color: white;
    -moz-box-shadow:    inset 0 0 10px 2E3554;
    -webkit-box-shadow: inset 0 0 10px 2E3554;
    box-shadow:         inset 0 0 10px #000000;
}
textarea{
  
    height: 50px; 
    background: #32324F;
    -moz-box-shadow:    inset 0 0 10px 2E3554;
    -webkit-box-shadow: inset 0 0 10px 2E3554;
    box-shadow:         inset 0 0 10px #000000;
}

}
